.center-stage {
    padding-top: 50px;

    .section {
        .content {
            display: block;
        }

        .content-collapsed {
            display: none;
        }

        &.collapsed {
            .content {
                display: none;
            }

            .content-collapsed {
                display: block;
            }
        }
    }
}
