.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: @hex-height;
  justify-content: center;
  align-items: center;

  color: @background-color;
  font-size: 16px;
  font-family: @standard-font;

  .row-title {
    font-size: 24px;
  }

  .company {
    font-size: 20px;
  }
}
