.header {
  display: flex;
  align-items: center;
  font-family: @standard-font;

  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 50px;
  max-width: 1000px;

  .title-card {
    white-space: nowrap;
    padding-right: 50px;

    .name {
      font-family: @serif-font;
      font-size: 48px;
      color: @black;
    }

    .title {
      font-size: 32px;
      color: @black-stepdown-1;
    }
  }

  .description {
    padding-left: 50px;
    padding-right: 50px;
    font-size: 22px;
    color: @black-stepdown-2;
    border-left: 1px solid #BDBDBD;
  }
}
