.header {
  display: flex;
  align-items: center;
  font-family: @standard-font;

  padding-top: 50px;
  padding-bottom: 50px;
  margin-left: 50px;
  max-width: 1000px;

  .title-card {
    min-width: 25%;
    padding-right: 25px;

    .name {
      font-family: @serif-font;
      font-size: 48px;
    }

    .title {
      font-size: 32px;
    }
  }

  .description {
    padding-left: 25px;
    font-size: 22px;
  }
}
