.select-rule(@select) {
  -webkit-touch-callout: @select;
  -webkit-user-select: @select;
  -khtml-user-select: @select;
  -moz-user-select: @select;
  -ms-user-select: @select;
  user-select: @select;
}

.tile(@color) {
  & {
    background-color: @color;
  }
  &:before {
    border-bottom-color: @color;
  }
  &:after {
    border-top-color: @color;
  }
}
.tile-hover(@color) {
  &:hover, &.active:hover, &.secondary:hover {
    background-color: @color;
  }
  &:hover:before, &.active:hover:before, &.secondary:hover:before {
    border-bottom-color: @color;
  }
  &:hover:after, &.active:hover:after, &.secondary:hover:after {
    border-top-color: @color;
  }
}
.tile-active(@color) {
  &.active {
    background-color: @color;
  }
  &.active:before {
    border-bottom-color: @color;
  }
  &.active:after {
    border-top-color: @color;
  }
}
