.select-rule(@select) {
  -webkit-touch-callout: @select;
  -webkit-user-select: @select;
  -khtml-user-select: @select;
  -moz-user-select: @select;
  -ms-user-select: @select;
  user-select: @select;
}

.tile-type(@normal, @hover, @active) {
  /* normal */
  & {
    background-color: @normal;
  }
  &:before {
    border-bottom-color: @normal;
  }
  &:after {
    border-top-color: @normal;
  }

  /* hover */
  &:hover, &.active:hover, &.secondary:hover {
    background-color: @hover;
  }
  &:hover:before, &.active:hover:before, &.secondary:hover:before {
    border-bottom-color: @hover;
  }
  &:hover:after, &.active:hover:after, &.secondary:hover:after {
    border-top-color: @hover;
  }

  /* selected */
  &.active {
    background-color: @active;
  }
  &.active:before {
    border-bottom-color: @active;
  }
  &.active:after {
    border-top-color: @active;
  }
}
