@serif-font: 'Patua One', cursive;
@fixed-width-font: "Andale Mono";
@standard-font: "Gill Sans";

@hex-width: 104px;
@hex-height: 60px;
@hex-horizontal-offset: 6px;
@hex-vertical-offset: @hex-height / 2 + @hex-horizontal-offset;
@hex-triangle-width: @hex-width / 2;
@hex-triangle-height: @hex-height / 2;
@hex-row-tile-offset: @hex-width / 2 + @hex-horizontal-offset / 2;
