@serif-font: 'Patua One', cursive;
@fixed-width-font: "Andale Mono";
@standard-font: "Gill Sans";

@hex-width: 104px;
@hex-height: 60px;
@hex-horizontal-offset: 3px;
@hex-vertical-offset: 30px + @hex-horizontal-offset;
@hex-triangle-width: 52px;
@hex-triangle-height: 30px;
