@background-color: #E8EAF6;
@serif-font: 'Patua One', cursive;
@fixed-width-font: "Andale Mono";
@standard-font: "Gill Sans";

@black: #000000;
@black-stepdown-1: #212121;
@black-stepdown-2: #424242;

@hex-primary-color: #1A237E;
@hex-secondary-color: #3F51B5;

@hex-gap: 6px;
@hex-height: 120px;
@hex-width: round(@hex-height * sqrt(3));
@hex-horizontal-offset: @hex-gap;
@hex-vertical-offset: @hex-height / 2 + @hex-horizontal-offset;
@hex-triangle-width: @hex-width / 2;
@hex-triangle-height: @hex-height / 2;

.hex-row-tile-offset(@offset) {
  @offset-multiplier: @offset - 1;
  @pixel-offset: @hex-width + @hex-horizontal-offset;
  margin-left: round(@pixel-offset * @offset-multiplier / 2.0);
}
